body {
    background: grey
} 
 
/* TODO: you can combine these # id styles in to one . class style, since they are the same. */
#blue { 
    color:white
} 
 
#red { 
    color: white;
}

#p1 {  
font-family: 'Gaegu', cursive;
   float: right; 
   width: 50%;
}

img { 
    width: 48%;
}
@keyframes appear {
	0% {
        transform: scale(0.1);
        opacity: 0;
	}
	60%{
        transform:scale(1.5);
        opacity: 1;
    }
}

p{
    animation-name: appear;
    animation-duration: 3s;
    font-size: 25px;
}
#one{
    opacity: 0;
}
#one:hover{
    opacity: 1;
}
@media screen and (max-width: 500px) {
    html, body {
        height: 1100px;
        margin: 0;
    }
    #ROBLOX {
        float: initial;
        justify-content: center;
        padding: 1em;
        width: 90%;
    }
    #p1{
        width:90%;
    }
}
@media screen and (max-width: 500px) and (orientation:landscape) {
    html, body {
        align-content: center;
        background:#a3ada3;
        font-family: 'Muli', sans-serif;
    }
    h1, h2, figcaption {
        color: #ffffff;
        font-family: 'Abril Fatface', cursive;
    }
    
    h1 {
        font-size: 24px;
    }
    
    header {
        background: #ffffff;
        border-bottom: #cccccc solid 2px;
        padding: 1em;
    }
    
    hr {
        background-color: #d3d3d3;
    }
    header {
        max-width: 900px;
    }
    
    .container {
        background-color: #e3f5e2;
        align-content: center;
        margin-bottom: -65px;
        max-width: 900px;
        min-height: 100%;
        padding: 1em;
    }
    
    .container:after {
        content: "";
        display: block;
    }
    .signature {
        color: #dddddd;
        background: #666666;
        border-top: 10px;
        border-top-color: #4aaaa5;
        border-top-style: solid;
        font-family: 'Cabin', sans-serif;
        font-size: small;
        height: 65px;
        max-width: 900px;
        padding: 1em;
    }
    .framepage {
        padding: 0;
        height: inherit;
        min-height: 900px;
        width: 100%;
    }
    
    .logo {
        display: inline;
        padding-right: .5em;
    }
    
    .downLink {
        float: inline-end;
        padding-top: .5em;
    }
    .navLink {
        font-size: 18px;
        color: #2d492c;
    }
    
    .navLink:hover {
        font-size: 18px;
        color: #94723b;
        font-size-adjust: 120%;
        font-weight: bold;
    }
    
    #headshot {
        float: right;
        padding: 1em;
    }
    
    #bio p {
        margin-top: 0;
        padding: 1em;
    }
}